# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
# Virtual environment
venv/
env/

# Local database
db.sqlite3

# Django static files (collected)
staticfiles/

# Environment variables
.env

# Logs
*.log
